services:
  postgres:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_DB: ${POSTGRES_DATABASE}
    ports:
      - 5432:5432
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DATABASE}
      interval: 5s
      retries: 5

  migration:
    depends_on:
      postgres:
        condition: service_healthy
    build:
      dockerfile: Dockerfile
      context: .
    env_file:
      - .env
    command: "npx prisma migrate deploy"
    restart: "no"

  app:
    depends_on:
      migration:
        condition: service_completed_successfully
    build:
      dockerfile: Dockerfile
      context: .
    env_file:
      - .env
    ports:
      - "8080:8080"

volumes:
  postgres_data:
    driver: local
