services:
  postgres:
    image: postgres
    restart: always
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_DATABASE: ${POSTGRES_DATABASE}
    ports:
      - 5432:5432
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DATABASE}
      interval: 5s
      retries: 5
    networks:
      - app-network

  migration:
    depends_on:
      postgres:
        condition: service_healthy
    build:
      dockerfile: Dockerfile
      context: .
    command: "npx prisma migrate dev"
    restart: "no"

  app:
    depends_on:
      migration:
        condition: service_completed_successfully
    build:
      dockerfile: Dockerfile
      context: .
    ports:
      - "3000:3000"
    networks:
      - app-network

volumes:
  postgres_data:
    driver: local

networks:
  app-network:
    driver: bridge
